.brand-logo{
	svg{
		height: 32px;
		vertical-align: middle;
	}
}
html,
body {
  height: 100%;
  @media #{$medium-and-up} {
     overflow: hidden;
  }
}

.three-pane-app {

  @media #{$medium-and-up} {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

}

.three-pane-app *,
.three-pane-app *::after,
.three-pane-app *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.three-pane-app .top {
  position: absolute;
  height: 3.75em;
  padding: 1.25em;
  line-height: 2.5em;
  width: 100%;
  border-bottom: 0.0625em solid rgba(0, 0, 0, 0.1);
}

.three-pane-app .bottom {
  width: 100%;
  @media #{$medium-and-up} {
    position: absolute;
    top: 0;
    bottom: 0;
  }
}

.three-pane-app .bottom .left {
  background-color: #333333;
  border-right: 0.0625em solid rgba(0, 0, 0, 0.1);
  width: 100%;
  display:none;
  @media #{$medium-and-up} {
    display:inherit;
    position: absolute;
    width: 80px;
    height: 100%;
    overflow: auto;
  }
}

.three-pane-app .bottom .middle {
  @media #{$medium-and-up} {
    position: absolute;
    width: calc(45% - 40px);
    left: 80px;
    height: 100%;
    overflow: auto;
  }

}

.three-pane-app .bottom .middle .page {
  width: 40em;
  padding: 3em;
  max-width: 100%;
  margin: 0 auto;
}

.three-pane-app .bottom .right {
  background-color: #F5F5F5;
  // border-left: 0.0625em solid rgba(0, 0, 0, 0.1);
  width: 100%;
  @media #{$medium-and-up} {
    position: absolute;
    width: calc(55% - 40px);
    right: 0;
    height: 100%;
    overflow: auto;
  }
}

.three-pane-app .bottom .item {
  border-bottom: 0.0625em solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding:20px;
  svg{
    fill: #fff;
  }
}

.three-pane-app .bottom .item:hover {
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 0.0625em solid rgba(0, 0, 0, 0);
}

.three-pane-app .bottom .item:last-child {
  border-bottom: 0;
}

.three-pane-app .title {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: rgba(0, 0, 0, 0.1);
  width: 10em;
  height: 1em;
  margin-bottom: 1.25em;
}

.header-logo{
  width: 85px;
  float:left;
  svg{
    width: 100%;
  }
}
.header-title{
  width: calc(100% - 85px);
  float:left;
  display:flex;
  align-items:center;
  height: 120px;
}
.menu-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: table;
  /* [1] */
  table-layout: fixed;
  /* [2] */
  width: 100%;
  /* [3] */
}

.menu-tabs__item {
  display: table-cell;
  /* [4] */
}

.menu-tabs__link {
  text-align:center;
  display: block;
  /* [5] */
}

.post-img{
  height: 300px;
  width: 100%;
  background-size:cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.title-underline{
  text-decoration: none;
  border-bottom: 5px solid #7ED321;
}

.right-menu{
  position: -webkit-sticky;
  position: sticky;
  background: whitesmoke;
  padding: 20px 0;
  top: 0px;
}
.omega{
  padding: 0 !important;
  margin: 0;
}

li{
  a.active {
    span{
      text-decoration: none;
      border-bottom: 5px solid #7ED321;
    }
  }
  &:first-child {
    a.active{
      span{
        border-bottom: 0 solid;
      }
    }
  }
}

.border-thick{
  border: 4px solid #000;
  padding:4px 8px;
}

.fourem{
  @media #{$medium-and-up} {
    padding: 4em;
  }
}

.v {
  &--fade {
    &-enter-active,
    &-leave-active { transition: all 275ms cb() }

    &-enter,
    &-leave-to { opacity: 0 }

    &-leave,
    &-enter-to { opacity: 1 }
  }

  &--mask {
    &-enter-active,
    &-leave-active { transition: all 150ms cb() 500ms }

    &-enter,
    &-leave-to { opacity: 0 }

    &-leave,
    &-enter-to { opacity: 1 }
  }
}
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #22df80;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}